<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Prototype</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes")
   <link href="/Content/themes/jquery-ui-1.11.1.custom/jquery-ui.structure.min.css" rel="stylesheet"/>
   <link href="/Content/themes/jquery-ui-1.11.1.custom/jquery-ui.theme.min.css"  rel="stylesheet"/>
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")

        @Scripts.Render("~/bundles/jqueryui")      
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquerycus")
    <script src="@Url.Content("~/Scripts/Custom.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#tabs").tabmenu();
        });
    </script>

  </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink(" ", "Index", "Home", null,  new { style = "background: url('" + Url.Content("~/images/prototypetitle.png") + "') no-repeat center right; display:block; height:84px; width:350px;" })</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                   
                    <nav>
                         <div id="tabs">
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Users", "Index", "SiteUser")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                             </div>
                    </nav> 

                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                 <p>&copy; @DateTime.Now.Year - DukeOfAustin</p>
            </div>
        </footer>



        @if (IsSectionDefined("Scripts"))
        {
           RenderSection("Scripts", false);
        }
      
    </body>
</html>
