@model Mvc4App.Models.lsttbl_Item

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>lsttbl_Item</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemId)
            @Html.ValidationMessageFor(model => model.ItemId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GrpId, "lsttbl_Group")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GrpId", String.Empty)
            @Html.ValidationMessageFor(model => model.GrpId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descrip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descrip)
            @Html.ValidationMessageFor(model => model.Descrip)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
